<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ming.sjll">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".appication.SJLLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:appComponentFactory="@string/app_name"
        tools:replace="android:appComponentFactory"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            tools:replace="android:value"
            android:name="RONG_CLOUD_APP_KEY"
            android:value="kj7swf8ok3ob2" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".purchaser.activity.PublishProjectAcitivity"
            android:windowSoftInputMode="adjustResize|stateHidden" /><!--发布项目-->
        <activity
            android:name=".loginreg.acitivity.LoginAcitivity"
            android:windowSoftInputMode="stateHidden" >

        </activity><!--登录-->
        <activity
            android:name=".loginreg.acitivity.VerificationCodeAcitivity"
            android:windowSoftInputMode="stateHidden" /><!--验证码-->
        <activity
            android:name=".loginreg.acitivity.RegisteredAcitivity"
            android:windowSoftInputMode="stateHidden" /><!--注册-->
        <activity
            android:name=".loginreg.acitivity.InitPasswordAcitivity"
            android:windowSoftInputMode="stateHidden" /><!--初始化密码-->



        <!--   聊天界面-->
        <activity
            android:name=".message.fragment.MessageChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".message.activity.UploadPdfMessageActivity" />

        <receiver
            android:name=".message.receiver.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>



    </application>

</manifest>